.nav-container-offset {
    left: 0px;
    right: 0px;
    top: 0px;
    height: 40px;
}

.nav-container-background {
    border-radius: 0px;
    
    width: 100%;
    height: 40px;
}

.nav-container {
    width: 100%;
    height: 40px;
}

.nav-button {
    width: 100%;
    height: 40px;
}

.nav-list {
    margin-top: -4px;
    margin-left: 4em;
}

.nav-list-item  {
    float: left;
}

.pulse-animation {
	animation: pulse 2s infinite;
}

@keyframes pulse {
	0% {
		opacity: 0.0;
	}

	40% {
		opacity: 1.0;
	}
    
	60% {
		opacity: 1.0;
	}
    
	100% {
		opacity: 0.0;
	}
}

.start-button {
    border: 2px solid #C16D82;
    color: #C16D82;
    border-radius: 10px;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 9px;
    padding-bottom: 9px;
    text-align: center;
    font-size: 30px;
    
    transition:  box-shadow 1s;
    
    position: absolute;
    left: 50%;
    margin-left: -61px;
    bottom: 20%;
    
    font-family: 'Kiona', sans-serif;
}

.start-button:hover {
    cursor: pointer;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.45) ;
}

.start-button:active {
    border: 2px solid #77505A;
    color: #77505A;
}

.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;

    position: absolute;
    left: 50%;
    margin-left: -40px;
    bottom: 20%;
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #C16D82;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}

.hidden {
    display: none;
}

.quest-fill-image {
    max-width: 100%;
    max-height: 100%;
    bottom: 0;
    left: 0;
    margin: auto;
    overflow: auto;
    position: fixed;
    right: 0;
    top: 0;
    -o-object-fit: contain;
    object-fit: contain;
}

.quest-fill-image.quest-fill-image-fill {
    -o-object-fit: cover;
    object-fit: cover;
}
